<h1>
    Welcome {{user_name}}
</h1>
<br><br>
<button (click)="logOut()">LogOut</button>
<br><br>
<button (click)="createProduct()">Create Product</button>
<br><br>
<table id="products">
    <tr>
      <th>
        Name
      </th>
      <th>
        Type
      </th>
      <th>
        Details
      </th>
      <th>
          Update/Delete
      </th>
      <th>
        Buy
      </th>
    </tr>
  
    <tr *ngFor = "let product of products">
      <td>
        <button (click)="productDetails(product.name,product.type)" >{{product.name}}</button>   
      </td>
      <td>
          {{product.type}}
      </td>
      <td>
          {{product.details}}
      </td>
      <td>
          <button (click)="updateProduct(product.name,product.type,product.details)">Update</button>&nbsp;&nbsp;<button (click)="deleteProduct(product.name,product.type,product.details)" >Delete</button>
      </td>
      <td>
        <button (click)="buyProduct(product.name)">Buy</button>
      </td>
    </tr>
  
  </table>