<mat-card>
    <mat-card-header>
        <mat-card-title>Create Product</mat-card-title>
    </mat-card-header>
        <mat-card-content>
        <!-- This is where you need to add your login form -->
        <br><br>
  Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input value="{{name}}" [disabled]="true"  (keyup)="onKeyName($event)" type="text">
  <br><br>
  Type:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input value="{{type}}" type="text" (keyup)="onKeyType($event)">
  <br><br>
 Details:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input  type="text" value="{{details}}" (keyup)="onKeyDetails($event)">
  <br><br>
        </mat-card-content>
        
        <mat-dialog-actions>
            
  <button mat-raised-button (click)="updateProduct()">Update Product</button>&nbsp;&nbsp;&nbsp;<button  mat-raised-button (click)="closeMe()">Close</button>
        </mat-dialog-actions>
</mat-card>